.back{
    height: 100%;
    width: 100%;
    background: url(oruga.png) no-repeat;
    background-size: cover;
    
}
.www{
    width: min-content;
    height: min-content;
    background-color: aliceblue;
}